// out: index.min.css, sourcemap: true, compress: true

@font-face
  font-family 'ZX Spectrum'
  src url('../fonts/zxspectrum-webfont.woff2') format('woff2'),
      url('../fonts/zxspectrum-webfont.woff') format('woff'),
      url('../fonts/zxspectrum.eot') format('eot')
  font-weight normal
  font-style normal

img, canvas, image
  image-rendering optimizeSpeed
  image-rendering -moz-crisp-edges
  image-rendering -o-crisp-edges
  image-rendering -webkit-optimize-contrast
  image-rendering pixelated
  image-rendering optimize-contrast
  -ms-interpolation-mode nearest-neighbor

*
  position relative
  box-sizing border-box

html, body
  font-size 5px
  margin 0
  padding 0
  font-family 'ZX Spectrum'
  line-height 1.25
  overflow hidden
  height 100%
  min-height 100%

body
  font-size 16px

p
  margin 0 0 1.25em 0





/* MAIN IMAGE STYLING */

.spectropolis__wrapper
   width 540rem
   height 382rem
   cursor move

.spectropolis__bg
  position absolute
  top 0
  left 0
  width 100%
  height 100%

svg > polygon
  fill transparent
  cursor pointer





/* TOOLTIP STYLING */

.object-tooltip
  position absolute
  background-color black
  color white
  padding 0.25em
  white-space nowrap
  // default, positioned top and centered
  &.position--top
    transform translate(-50%,-100%)
    // too left, don't center it
    &.position--left
      transform translateY(-100%)
    // too right, push to the left
    &.position--right
      transform translate(-100%,-100%)
  // too close to the top, position at the bottom and center it
  &.position--bottom
    transform translateX(-50%)
    &.position--left
      transform initial
    &.position--right
      transform translateX(-100%)

// hide tooltip while dragging
.ui-draggable-dragging ~ .object-tooltip
  display none





/* MAIN MENU STYLING */

.game-menu__wrapper
  position fixed
  top 0
  right 0
  width 25%
  height 100%
  background black
  color white
  transform translateX(100%)
  transition transform 250ms

  &.active
    transform initial

.game-menu__toolbar
  width 3em
  height 100%
  padding 0.5em 0
  position absolute
  top 0
  right 100%
  background rgba(255,0,0,0.5)
  text-align center

  * {
    cursor pointer
    margin-bottom 0.5em
  }

.game-menu__list-of-games
  overflow auto
  height 100%;
  padding 1em

.list-filter
  input
    display none

  background white
  color black
  display inline-block
  padding 0.25em
  margin-bottom 0.5em
  opacity 0.5
  cursor pointer
  transition opacity 150ms

  &.selected, &:hover
    opacity 1

.all-games
  padding 0
  margin 0
  list-style-type none

  &.list-filter__found
    li:not(.found)
      display none
  &.list-filter__left
    li.found
      display none

  &.list-filter__all
    li.found
      opacity 0.75
    li.found:hover
      opacity 1
    li.found::after
      content '[found]'
      padding 0 0.25em

  li
    padding 0.25em 0.5em
    color white
    cursor pointer

    &:hover
      background #ccc
      color black





/* SHIM STATE STYLING */

body::after
  content ''
  position absolute
  opacity 0
  transition all 250ms
  width 0
  height 0
  top 50%
  left 50%
  transform translate(-50%,-50%)

[data-state]::after
  top 0
  left 0
  transform initial
  width 100%
  height 100%
  background black
  opacity 0.75
  transition all 250ms

.references__container
  width 0
  position fixed
  text-align center
  z-index 1
  transition all 250ms

  &:not(.expand)
    height 0 !important

  &.expand
    width 80%
    height 80%
    top 10% !important
    left 10% !important

  img
    max-width 100%
    max-height 100%
    top 50%
    transform translateY(-50%)

images = 'crop' 'loading' 'screen1' 'screen2' 'inlay' 'arcade1' 'arcade2' 'arcade3' 'photo'
for img in images
  .reference--{img}
    display none

  [data-hint=\"{img}\"] .reference--{img}
    display initial

.game-info-wrapper
  width 80%
  height 80%
  top 10%
  left 10%
  position fixed
  text-align center
  z-index 1
  transition all 250ms

.guess-game
  position absolute
  top 0
  left 50%
  transform translate(-50%, -100%)
  z-index 2
  transition transform 250ms
  padding 2em 0 0 0
  width 50%

  input
    background black
    border 0
    height 3em
    line-height 3em
    padding 0 1em
    color white
    width 65%

  button
    background rgba(255, 0 0 , 0.75)
    color white
    border 0
    padding 0 0.5em
    height 3em
    line-height 3em
    transition background 150ms
    width 35%

    &:hover
      background rgba(255, 0 0, 0.5)

    &.success
      background rgba(0,255,0,0.75)
      &:hover
        background rgba(0,255,0,0.75)

  .all-games
    overflow: auto;
    position: absolute;
    background: black none repeat scroll 0% 0%;
    color: white;
    top: calc(100% + 0.5em);
    width: 65%;
    max-height: 500px;
    display none
    left 0

[data-state="finding"] .guess-game
  transform translateX(-50%)
  transition transform 250ms 250ms

.get-hint
  position fixed
  bottom 0
  width 100%
  text-align center
  padding 0 0 2em 0
  z-index 1
  transform translateY(100%)
  transition transform 250ms

[data-state="finding"] .get-hint
  transform initial
  transition transform 250ms 250ms
